bases:
- ../../../base

resources:
- deployment-web.yaml
- service-web.yaml
- ingress-web.yaml

# Change the image name and version
images:
- name: notavalidregistry.azurecr.io/web:v0.1.0
  newName: <YOUR_ACR_SERVER>/web
  newTag: <YOUR_IMAGE_TAG>
  
patches:
- patch: |-
    - op: replace
      path: "/spec/template/spec/serviceAccountName"
      value: <YOUR_SERVICE_ACCOUNT_NAME>
  target:
    kind: Deployment
- patch: |-
    - op: replace
      path: "/metadata/annotations/kubernetes.azure.com~1tls-cert-keyvault-uri"
      value: <YOUR_TLS_CERT_URI>
  target:
    kind: Ingress
- patch: |-
    - op: replace
      path: "/spec/rules/0/host"
      value: <YOUR_DNS_NAME>
  target:
    kind: Ingress
- patch: |-
    - op: replace
      path: "/spec/tls/0/hosts/0"
      value: <YOUR_DNS_NAME>
  target:
    kind: Ingress